.container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    background-color: #ede6e3;
}
.btnsContianer {
    display: flex;
    justify-content: space-between;
}