.baseNode {
    transform-origin: center;
    padding: 0.5rem;
    border-radius: 25%;
    cursor: pointer;
    border: 2px solid black;
    &[data-isactive="true"] {
        border: 5px solid green;
    }
}
.rootNode {
    background-color: blue;
}
.node {
    background-color: yellow;
}
.textArea {
    resize: none;
    overflow: hidden;
    white-space: pre;
}
