.baseNode {
    transform-origin: center;
    cursor: pointer;
    border: 2px solid black;
    min-width: 64px;
    width: fit-content;

    &[data-isactive='true'] {
        border: 5px solid green !important;
    }
}

.textArea {
    resize: none;
    overflow: hidden;
    white-space: pre;
    outline: none;
    border: none;
    background-color: transparent;
    field-sizing: content;
    text-align: center;
}
