.baseNode {
    transform-origin: center;
    cursor: pointer;
    border: 2px solid black;

    &[data-isactive="true"] {
        border: 5px solid green !important;
    }
}

.textArea {
    resize: none;
    overflow: hidden;
    white-space: pre;
    outline: none;
    border: none;
    background-color: transparent;
}