.menu {
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
    margin: 8px;
    border: 1px solid black;
}
.menuItem {
    cursor: pointer;
}
.topRightMenu {
    position: fixed;
    top: 0;
    right: 0;
    gap: 8;
    display: flex;
}
.topMiddleMenu {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    gap: 8;
    display: flex;
}
