.modalWrapper {
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-backdrop-filter: blur(1px);
    backdrop-filter: blur(1px);
}
.modalContainer {
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    background-color: #ede6e3;
}

.tooltip:hover::after {
    display: block;
    position: absolute;
    top: -50%;
    left: 0;
    width: 100%;
    content: attr(data-tooltip);
    border: 1px solid black;
    background: #eee;
    padding: 0.25em;
}

.commands {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}
.commandContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.2rem;
}
.commandKeys {
    display: flex;
    gap: 0.2rem;
    align-items: center;
}
